/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2019, 08:35:01 AM
    Author     : JONATHAN MEDINA BARRIOS
*/
.dhx_dataview .dhx_dataview_default_item, .dhx_dataview .dhx_dataview_default_item_selected{
    border-right:0;
}
.dhx_dataview_default_item_selected {
    background-color: #fbfbfb;
    border-left:3px #ff7f00 solid;
}
.property{
    font-family:tahoma;
    padding-bottom: 5px;
    padding-right: 15px;
    flex-shrink: 0;
}
div[dhx_f_id="-1"] .card:not(:hover) > .info-card {
    display: flex;
    align-items: center;
}
.card .property > spam {
    font-size: 12px;
    display: block;
}
